*{
    background-color:beige;
}
h1 {
  color: rgb(111, 89, 47);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
p{
    color: goldenrod;
}
